body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 242, 204);
 

}
.title {
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;

}
#buttons {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 0px;
}

#Reset {
padding: 15px;
margin: 80px;
margin-top: 40px;
font-size: 30px;
font-weight: bold;
border: 7px solid black;
border-radius: 10px;
}

.box1, .box2, .box3 {
    margin: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

img {
    border: 5px solid black;
    margin-bottom: 50px;
}

#Rock {
padding: 15px;
padding-left: 31px;
padding-right: 31px;
margin: 80px;
font-size: 30px;
font-weight: bold;
border: 7px solid black;
border-radius: 10px;
margin-top: 40px;
margin-bottom: 40px;
}

#Paper {
    padding: 15px;
    padding-left: 26px;
    padding-right: 26px;
    margin: 80px;
    font-size: 30px;
    font-weight: bold;
    border: 7px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    }

#Scissor {
    padding: 15px;
    margin: 80px;
    font-size: 30px;
    font-weight: bold;
    border: 7px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    }

#Rock:hover, #Paper:hover, #Scissor:hover {
    background-color: #45a049;
}

#Reset:hover {
    background-color: red;
}
.new {
    font-size: 30px;
    padding: 0px;
}

#scoresText, #winner, #scores, #finalWinnerText {
    margin: 10px;
    font-size: 30px;
}

#winner, #finalWinnerText {
    font-weight: bold;
}

#bestOfFive {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}